

dd {
    margin: 0;
    padding: 15px 15px;
}
dt {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    background: #e3e3e3;
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #fff;
    padding: 0 15px;
    cursor: pointer;
    color: #9f9f9f;
    margin-bottom: 1px;
}
dt:first-child {
    border-top: 0px solid;
}
dt:nth-last-child(2) {
    border-bottom: 0px solid;
}

dl.accordion {
    margin-top: 0;
    margin-bottom: 0;
}

.style1 .active {
    color: #000;
    background: #ddd;
}

.style2.accordion dt, .accordion.style4 dt, .accordion.style5 dt {
    position: relative;
}
.accordion.style2 dt::after, .accordion.style4 dt::after,  .accordion.style5 dt::after {
    position: absolute;
    right: 0;
    top: 0;
    content: "+";
    height: 30px;
    width: 30px;
    background: #00AAE8;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 20px;
}
.accordion.style2 dt.active::after, .accordion.style4 dt.active::after, .accordion.style5 dt:hover::after , .accordion.style5 dt.active::after {
    content: "-";
}